discord.py==1.0.1
from setuptools import setup
from urllib.request import urlopen, Request

setup(
    name="MyLibrary",
    version="1.0",
    install_requires=[
        "bs4",
        "urllib",
        "urllib.request",
        "urllib",
    ],
    # ...
)

